<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-icons@1.13.12/iconfont/material-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <title>Panaderia de Pan</title>
    <style>
        .table-custom {
            background-color: #F5F5DC;
            /* Beige */
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 1rem;
            color: #212529;
        }

        .table-custom th {
            background-color: #8B4513;
            /* Café */
            color: white;
            font-weight: bold;
            text-align: center;
            padding: 10px;
            border: 1px solid #ddd;
        }

        .table-custom td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
        }

        .table-custom tbody tr:nth-child(even) {
            background-color: #f2f2f2;
            /* Stripe color */
        }

        .btn-add-product {
            background-color: #8B4513;
            /* Café */
            color: white;
            border: none;
        }

        .btn-add-product:hover {
            background-color: #A0522D;
            /* Darker shade of café */
        }

        .modal-content {
            background-color: #123D44;
            /* Verde */
            color: #fff;
            /* Texto blanco */
        }

        .form-control {
            background-color: #D5BA98;
            /* Beige */
        }

        .btn-primary {
            background-color: #40E0D0;
            border: none;
        }

        .btn-primary:hover {
            background-color: #30C7C7;
        }

        .form-group-horizontal {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            margin-bottom: 1rem;
        }

        .form-group-horizontal label {
            width: 30%;
        }

        .form-group-horizontal input,
        .form-group-horizontal select {
            width: 70%;
        }
    </style>
</head>

<body style="background-color: #123D44">
    <div class="container-fluid">
        <div class="row">
            <!--Aquí va la navbar-->
            <nav class="navbar navbar-expand-lg" style="background-color: #8B4513;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#" style="color: #FFFFFF">
                        <img src="../public/images/descargar (11).png" alt="Logotipo de la Panadería"
                            style="width: 110px; height: 60px; margin-left: 50px; margin-right: auto;">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#" style="color: #FFFFFF">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Nosotros.html" style="color: #FFFFFF">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Contactos.html" style="color: #FFFFFF">Contactos</a>
                            </li>
                        </ul>
                        <form class="d-flex ms-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                            <button class="btn btn-outline-light" type="submit">
                                <span class="material-icons">search</span>
                            </button>
                        </form>
                        <form class="d-flex ms-3">
                            <button class="btn btn-outline-light" type="button">Iniciar Sesión</button>
                        </form>
                        <form class="d-flex ms-3">
                            <a class="btn btn-outline-light" href="Administrador.html" role="button"> <span
                                    class="material-icons">shopping_cart</span> </a>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Tabla centrada con botón para agregar nuevo producto -->
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table-custom w-100">
                            <thead>
                                <tr>
                                    <th style="width: 80%;">Codigo de Barras</th>
                                    <th style="width: 50%;">Nombre del Producto</th>
                                    <th style="width: 20%;">Precio</th>
                                    <th style="width: 10%;">Stock</th>
                                    <th style="width: 10%;">Stock Minimo</th>
                                    <th style="width: 50%;">Categoria</th>
                                    <th colspan="2">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>834748 907912</td>
                                    <td>Donas Glaceadas</td>
                                    <td>$10.00</td>
                                    <td>50</td>
                                    <td>10</td>
                                    <td>Panaderia</td>
                                    <td><a href="#"
                                            class="btn btn-danger">
                                            <i class="material-icons">delete</i>
                                        </a></td>
                                    <td><a href="#"
                                            class="btn btn-warning">
                                            <i class="material-icons">edit</i>
                                        </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Botón que abre el modal -->
                    <button class="btn btn-add-product mt-3 d-flex align-items-center" type="button"
                        data-bs-toggle="modal" data-bs-target="#addProductModal">
                        <i class="material-icons me-2">add_box</i>
                        <span>Agregar Producto</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal para agregar nuevo producto -->
        <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" style="border: 3px solid #1832c4; border-radius: 10px;">
                    <div class="modal-header justify-content-center">
                        <div class="text-center">
                            <img src="descargar (11).png" alt="Encabezado de Modal" style="width: 100px; height: auto">
                        </div>
                        <h5 class="modal-title w-100 mt-3 text-center" id="addProductModalLabel" style="font-family: 'Arial Black', Gadget, sans-serif;">Nuevo Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/api/products/insert" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="txtbarcode" class="form-label">Codigo de Barras</label>
                                        <input type="text" class="form-control" id="txtbarcode" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="txtproductName" class="form-label">Nombre del Producto</label>
                                        <input type="text" class="form-control" id="txtproductName" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="txtproductPrice" class="form-label">Precio</label>
                                        <input type="number" class="form-control" id="txtproductPrice" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="txtproductStock" class="form-label">Stock</label>
                                        <input type="number" class="form-control" id="txtproductStock" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="txtproductMinStock" class="form-label">Stock Mínimo</label>
                                        <input type="number" class="form-control" id="txtproductMinStock" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="txtproductDescription" class="form-label">Descripción</label>
                                        <input type="text" class="form-control" id="txtproductDescription" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="txtproductImage" class="form-label">Imagen (URL)</label>
                                        <input type="url" class="form-control" id="txtproductImage" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="txtproductCategory" class="form-label">Categoría</label>
                                        <select class="form-control" id="txtproductCategory" required>
                                            <option value="" disabled selected>Seleccionar Categoría</option>
                                            <option value="Panadería">Panadería</option>
                                            <option value="Pastelería">Pastelería</option>
                                            <option value="Bebidas">Bebidas</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
