input.form-control {
    border: 1px solid #DDD;
    padding: 10px;
}

button.btn-primary {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    transition: background-color 0.3s ease;
}

button.btn-primary:hover {
    background-color: #704423;
}