@font-face {
    font-family: "LemonMilk";
    src: url("/font/lemonMilk.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Louis";
    src: url("/font/louisCaffe.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #123D44;
}
.superposed-image {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 50%; 
}
.carouselExampleAutoplaying {
    height: 50vh; 
}

.carousel-item img{
    height: auto;
    width: 90%;
    object-fit: cover;
}
h2{
    font-family: "LemonMilk", sans-serif;
    color: #C7EAF0;
    font-size: 40px;
}
.card-img-top{
    background-color: #123D44;
    color: whitesmoke;
    font-family: "Louis", sans-serif;
    font-size: 20px;
}


.card-link {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Mantiene el color original del texto */
    display: inline-block;
}

.card {
    cursor: pointer; /* Cambia el cursor al pasar sobre la tarjeta */
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.02); /* Efecto de zoom */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
}