<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/flooter.css">
<footer>
    <br><br>
    <img src="https://res.cloudinary.com/dexasecyo/image/upload/v1733277874/64f0e7e4-91c1-4697-9f9b-9c0b0f0fb652.png" width="30%" height="30%">
    <div class="Redes">
        <br><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f text"></i></a>
        <a href="https://wa.me/7761051628" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
</footer>